<nav class="navbar navbar-light bg-info">
  <div class="container">
    <span class="nav-admin title">
      <%= link_to 'Мои Бейджи', obtained_badges_path, class: "text-dark" %>
    </span>
    <span class="nav-admin title">
      <%= link_to 'Все Бейджи', badges_path, class: "text-dark" %>
    </span>
  </div>
</nav>
