<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('author') %></th>
      <th scope="col"><%= t('question') %></th>
      <th scope="col">Gist</th>
    </tr>
  </thead>
  <tbody>
    <%= render @gists %>
  </tbody>
</table>
