.user-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-actions p {
  margin-left: 10px; /* Просто для создания отступа между приветствием и кнопкой */
}

.nav.nav-admin {
  height: 35px;
  padding:15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin
a {
  color:#ffffff;
}
